/*
 *
 * Additional Custom CSS
 * 
 * 
 * Author:  Bruce Yan
 * Updated: April 2014
 * Notes:	Used in conjunction with bootstrap.css
 * 
 */


/* --------------------------------------
   Layout
   -------------------------------------- */
footer {
   background: #333;
   color: #eee;
   font-size: 11px;
   padding: 20px;
}

.container #signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchItemInput {
   width: 200px;
}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
/*   #mainOverdues {
      padding-left:15px;
      padding-right:15px;
   }*/
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
/*   #mainOverdues {
      padding-left:15px;
      padding-right:15px;
   }*/
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

/*Fix for avoiding the top header to overlap content*/
body { padding-top: 40px; }
/*@media screen and (max-width: 768px) {
    body { padding-top: 30px; }
}*/